# OCI registry reference
[packages.example]
reference = "ghcr.io/a-skua/example-cli:2026.3.14"

[packages.example.run]
wasi = ["http", "inherit-env"]
dirs = ["~/.config/gcloud"]
env = ["GOOGLE_APPLICATION_CREDENTIALS"]

[packages.example.serve]
wasi = ["cli", "inherit-network"]

# Local wasm file path
# [packages.my-app]
# path = "~/projects/my-app/target/wasm32-wasip2/release/my_app.wasm"
#
# [packages.my-app.run]
# wasi = ["http"]
# env = ["API_KEY"]
